:root{
    --font-family:"Roboto", sans-serif;
    --primary: #264653;
    --secondary: #2a9d8f;
    --accent: #e76f51;
    --lightgray: #dddddd;
    --text-regular: #444;
    --hauteur-menu: 60px;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  

  body {
    font-family: var(--font-family);
    color: var(--regular)
  }

  // Layout

  .container {
    max-width: 1200px;
    display: block;
    margin: auto;
    padding: 20px;
  }

  .d-flex {
      display: flex;
  }

  .flex-row {
      flex-direction: row;
  }

  .flex-row-reverse {
    flex-direction: row-reverse;
}

  .flex-column {
      flex-direction: column;
  }

  .flex-justify-content-center {
      justify-content: center;
  }
  
  .flex-justify-content-left {
    justify-content: left;
  }

  .flex-justify-content-right {
    justify-content: right;
  }

  .flex-justify-content-between {
      justify-content: space-between;
  }

  .flex-justify-content-around {
    justify-content: space-around;
}

  .flex-align-items-center {
      align-items: center;
  }

  .flex-align-items-between {
      align-items: space-between;
  }

  .flex-fill {
    flex: 1 1 auto;
  }

  .flex-50 {
    flex: 1 1 50%;
  }

  .flex-5 {
    flex: 1 1 1%;
  }

  // utils

  .p-10 {
      padding: 10px;
  }

  .p-20 {
      padding: 20px;
  }

  .pr-10 {
    padding-right: 10px;
  }

  .pl-10 {
    padding-left: 10px;
  }

  .pr-20 {
    padding-right: 20px;
  }

  .pl-20 {
    padding-left: 20px;
  }

  .m-10 {
      margin: 10px;
  }

  .m-20 {
      margin: 20px;
  }
  
  .mb-20 {
    margin-bottom: 20px;
  }

  .ml-20 {
    margin-left: 20px;
  }

  .mr-20 {
    margin-right: 20px;
  }

  // Theme

  .list-primary {
    li {:root{
      --font-family:"Roboto", sans-serif;
      --primary: #264653;
      --secondary: #2a9d8f;
      --accent: #e76f51;
      --lightgray: #dddddd;
      --text-regular: #444;
    }
      padding: 10px 15px;
      border: 1px solid var(--lightgray);
      border-top: 0;
      &:hover {
        background-color: var(--primary);
        color:white;
        cursor: pointer;
      }
      transition: all 0.4s;
    }
    li:first-child {
      border-top:1px solid var(--lightgray);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    li:last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  .btn {
    padding: 10px 20px;
    margin: 0px -10px;
    background-color: white;
    border: 0;
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer;
    &-primary {
      background-color: var(--primary);
      color: white;
      box-shadow: 0px 2px 2px 2px rgb(0, 0, 0);
      &:hover{
        background-color: var(--secondary);
      }
      transition: backgroundColor 0.4s;
      
    }
    &-secondary {
      background-color: var(--secondary);
      color: white;
      box-shadow: 0px 2px 2px 2px rgb(0, 0, 0);
      &:hover{
        background-color: var(--accent);
      }
      transition: backgroundColor 0.4s;
    }
  }



  // debug

  .d1 {
    border: 1px solid red;
  }

  .d2 {
    border: 2px solid green;
  }