<body>
    <div class="container">
        <p>Bienvenue sur notre site</p>

        <section class="carousel">
            <ul class="carousel-items">
                <li class="carousel-item">
                    <div class="card">
                        <h2 class="card-title">Kimitsu no Yaiba</h2>
                        <img src="../../assets/kimitsu no Yaiba.jpg" alt="Kimitsu no Yaiba">
                        <div class="card-content">
                        <p>J'adore le dab c'est vraiment trop cool</p>  
                        <a href="#" class="btn btn-third">Read More</a>
                        </div>
                    </div>
                </li>
                <li class="carousel-item">
                    <div class="card">
                        <h2 class="card-title">Shingeki no Kyojin</h2>
                        <img src="../../assets/shingeki-no-kyojin-saison-4-visuel-cle.jpeg" alt="">
                        <div class="card-content">
                        <p></p>  
                        <a href="#" class="btn btn-third">Read More</a>
                        </div>
                    </div>
                </li>
                <li class="carousel-item">
                    <div class="card">
                        <h2 class="card-title">One Piece</h2>
                        <img src="../../assets/OnePiece.jpg" alt="">
                        <div class="card-content">
                        <p></p>  
                        <a href="#" class="btn btn-third">Read More</a>
                        </div>
                    </div>
                </li>
                <li class="carousel-item">
                    <div class="card">
                        <h2 class="card-title">Naruto</h2>
                        <img src="../../assets/Naruto.jpg" alt="">
                        <div class="card-content">
                        <p></p>  
                        <a href="#" class="btn btn-third">Read More</a>
                        </div>
                    </div>
                </li>
                <li class="carousel-item">
                    <div class="card">
                        <h2 class="card-title">My Heros Academia</h2>
                        <img src="../../assets/mha.jpg" alt="">
                        <div class="card-content">
                        <p></p>  
                        <a href="#" class="btn btn-third">Read More</a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</body>